{{ partial "header.html" }}
<body>
  {{ partial "navbar.html" }}
  <div class = "main card card-nav-tabs" style="width:80%;margin-left:10%;">
      <div class="header header-success">
          <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
          <div class="nav-tabs-navigation">
            <div class="nav-tabs-wrapper">
                <ul class="nav nav-tabs" data-tabs="tabs">  
                  <li class="pull-left" style="margin-right:1%;">
                    <a href="/">
                      <i class="material-icons">arrow_back</i>
                    </a>
                  </li>
                  <li>
                    <h4>{{ .Title }}: <small style="color:white;">{{ .Params.desc }}</small></h4>
                    </li>
                    <li class="pull-right">
                        <h4>{{ .Date.Format "Monday - Jan 2, 2006" }}</h4>
                    </li>
              </ul>
            </div>
          </div>
          </div>
          <div class="content" style="text-align: center;">
            <h2>{{ .Title }}<br> <small>{{ .Params.desc }}</small></h2>
            <p>{{ .Content }}</p>
            </div>
  </div>
</body>
{{ partial "footer.html" }}