{{ partial "header.html" }}
<body class="profile-page">
  {{ partial "navbar.html" (dict "params" $.Params "site" $.Site ) }}
  {{ if isset .Params "img" }}
  <div class="header header-filter" style="background-image: url('{{ .Params.imgUrl }}');background-size : 100% auto"></div>
  {{ end }}
  <div class = "main {{ if isset .Params "img" }} {{ end }} card card-nav-tabs" style="{{ if isset .Params "img" }} margin-top:-120px; {{ end }} width:90%;margin-left:5%;">
      <div class="header {{ if isset .Params "img" }} header-primary {{else}} header-success {{ end }}" style="height:100%;">
          <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
          <div class="nav-tabs-navigation">
            <div class="nav-tabs-wrapper">
                <ul class="nav nav-tabs" data-tabs="tabs">  
                  <li class="pull-left" style="margin-right:1%;">
                    <a href="/">
                      <i class="material-icons">arrow_back</i>
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li>
                      <h4>{{ .Title }}</h4>
                    </li>
                    <li class="pull-right">
                        <h4>{{ .Date.Format "Monday - Jan 2, 2006" }}</h4>
                    </li>
              </ul>
            </div>
          </div>
          </div>
          <div class="content" style="text-align: center;">
            <h2>{{ .Title }}<br> <small>{{ .Params.desc }}</small></h2>
            {{ range .Params.categories }}
            <a href="{{ " /categories/ " | relLangURL }}{{ . | urlize }}">
              <i class="text-muted material-icons">{{ . }}</i>
            </a>
            {{ end }}
            <br /><br /><br />
            {{ if isset .Params "img" }}
              <img class="img-rounded img-raised img-responsive" style="margin: 0 auto;" src="{{ .Params.imgUrl }}" />
              
            {{ end }}
            <hr />
            <div style="text-align: left";> {{ .Content }} </div>
            {{ range .Params.tags }}
            <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}" class="label label-default">{{ . }}</a>
            {{ end }}
            </div>
  </div>
</body>
{{ partial "footer.html" }}