{{ partial "header.html" }}
<body>
  {{ partial "navbar.html" (dict "params" $.Params "site" $.Site ) }}
  <div class = "main card card-nav-tabs" style="width:80%;margin-left:10%;">
      <div class="header header-danger">
          <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
          <div class="nav-tabs-navigation">
            <div class="nav-tabs-wrapper">
                <ul class="nav nav-tabs" data-tabs="tabs">  
                  <li class="pull-left" style="margin-right:1%;">
                    <a href="/">
                      <i class="material-icons">arrow_back</i>
                    </a>
                  </li>
                  <li>
                    <h4>ERROR: <small style="color:white;">404</small></h4>
                    </li>
                    <li class="pull-right">
                        <h4>Monday: April 4th</h4>
                    </li>
              </ul>
            </div>
          </div>
          </div>
          <div class="content" style="text-align: center;">
            <h4>Someone's Lost.<small>Aren't you?</small></h4>
            <p>Don't worry, I won't tell anyone</p>s
            </div>
  </div>
</body>
{{ partial "footer.html" }}